---
layout: default
---

<div class="posts">
  {% for post in site.posts limit:site.paginate %}
    <article class="post">

      <h1 class="post-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      {{ post.excerpt }}

      <p>
        <span class="post-date">{{ post.date | date_to_string }}</span>
        {% if site.disqus %}
        &nbsp;<a href="{{ site.baseurl }}{{ post.url }}#disqus_thread" class="post-comment">comment</a>
        {% endif %}
        {% if post.tags %} |&nbsp;{% for tag in post.tags %} <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify: 'pretty' }}" class="post-tag">{{ tag }}</a>{% endfor %}
        {% endif %}
      </p>

    </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if site.posts.size >= site.paginate %}
    <a class="pagination-item older" href="{{ site.baseurl }}/blog/page2">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
    <span class="pagination-item newer">Newer</span>
</div>
