@mixin post-label($icon, $color:$color-font-link, $icon-font:$font-family-icons) {
  display: inline-block;
  background: rgba($color, 0.15);
  padding: 0 .5rem;
  margin-right: .5rem;
  border-radius: 4px;
  color: $color;
  font-size: 90%;
  &:before {
    content: $icon;
    font-family: $icon-font;
    padding-right: .5em;
  }
  &:hover {
    text-decoration: none;
    background: $color;
    color: $color-font-inverse-base;
  }
  transition: all .1s ease-in-out;
}
.post-tag {
  @include post-label("\f02c")
}

.post-category {
  @include post-label("\f02d", $color-base-orange-500)
}

.post-comment {
  @include post-label("\f0e6", $color-base-green-500)
}

.tags-expo {
  :target:before {
    content:"";
    display:block;
    height:72px; /* fixed header height*/
    margin:-72px 0 0; /* negative fixed header height */
  }
  .tags-expo-list {
    padding-bottom: 1em;
    border-bottom: 1px solid #eee;
    @media (min-width: 38em) {
      font-size: 0.9rem;
      .post-tag {
        margin: .2em .3em;
      }
    }
  }
  .tags-expo-section {
    ul {
      list-style-type: circle;
      list-style-position: inside;
      padding: 0;
      li {
        transition: all .1s ease-in-out;
        padding: 0 1rem;
        &:hover {
          list-style-type: disc;
          padding: 0 .5rem;
        }
      }
    }
    a {
      text-decoration: none;
    }
    .post-date {
      display: inline-block;
      font-size: 80%;
      color: $color-font-tertiary;
      margin: 0;
      padding: 0;
    }
  }
}
