
//
// VARIABLES
//


// Font stacks
$font-family-base: "PT Sans", sans-serif;
$font-family-header: "PT Sans Caption", sans-serif;
$font-family-code: "Source Code Pro", monospace;
$font-family-icons: FontAwesome;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}